# Security Headers
Header set X-Content-Type-Options "nosniff" 

# Cache Control Headers
<FilesMatch "\.(css|js|jpg|jpeg|png|gif|ico|woff|woff2|ttf|eot|svg)$">
    Header set Cache-Control "max-age=31536000, public"
</FilesMatch>

# HTML файлы кешируем на меньший срок
<FilesMatch "\.(html|htm)$">
    Header set Cache-Control "max-age=7200, public"
</FilesMatch> 

# Правильные типы MIME
AddType text/css .css
AddType application/javascript .js
AddType application/manifest+json .webmanifest
AddType application/manifest+json .json

# Сжатие файлов
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/manifest+json
</IfModule> 