<!-- Start of Selection -->
<div class="author">
  <div style="display: flex; align-items: center; text-align: left;">
    <img
      class="author-avatar"
      src="{{ site.author.avatar }}"
      alt="{{ site.author.username }}"
      style="width: 100%; max-width: 150px; height: auto; border-radius: 10%; margin-right: 20px; box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);"
    />
    <div>
      <h2 class="author-name">{{ site.author.name }}</h2>
      <p class="author-bio">{{ site.author.bio }}</p>
    </div>
  </div>
  <div style="text-align: left; margin-top: 100px;">
<!-- Start of Selection -->
<h2 style="text-align: center;">Витрина изображений</h2>
<!-- End of Selection -->
  </div>
<!-- End of Selection -->
